@font-face {
    font-family: ;
    src: url();
    font-style: ;
    font-weight: ;
}

:root{
font-size: 18px;
--white: white;
--white20:#A5A3A5;
--white10:#3A3539;
}

body{
    color:var(--white);
    font-family: 'Nunito', sans-serif;
    background: #251f24;
    margin: 0;
}

a{
    color: var(--white);
}

.header-content{
    padding-inline: 20px;
}

header{
    margin-block-start: 20px;
    font-size: 14px;
    color:var(--white);

}

header a{
    color: var(--white20);
    text-decoration: none;
}
header li{
    color: var(--white20);
    margin-block-end: 16px;
}
header a:hover{
    color: var(--white);
}

nav details summary{
    font-weight: bold;
}


h1{
    font-size: 40px;
    font-weight: normal;
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2{
    font-size: 2em;
    margin-block: 40px;
}

h3{
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}
hr{
    margin-block: 40px;
    border-color:#61616133;
}

pre{
    background: var(--white10);
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    border: 10px solid #5551FF;
    box-shadow: -10px 10px 0 0 #ABAAF6;
}

p{
    color:var(--white20);
    
}
.hero{
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);   
     block-size: 350px;
}

.section-content img{
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content{
    counter-reset: tittleList;
}

.section-content h3{
    counter-increment: titleList;
}


.section-content h3::before{
    content:'-'counter(titleList, decimal) ". ";
}


blockquote{
    margin-block-start: 80px;
    margin-block-end: 63px;
    background-color: var(--white10);
    line-height: 32px;
    font-size: 24px;
    border-radius: 8px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
}

blockquote p {
    color: var(--white);
}

.main hr{
    display: none;
}

.main{
    padding: 10px;
}

.wrapper{
max-inline-size: 902px;
margin: auto;
}

.main-content{
padding inline-size: 60px;
}



.slider-container{
display: block;
overflow: auto;
scroll-behavior: smooth;
white-space: nowrap;
font-size: 0;
}

.video{
margin: 0;
display: inline;
width: 100%;
display: inline-block;
height: auto;
aspect-ratio: 16/9;
}

.slider-bullet-list{
    text-align: center;
    margin-block-start: 10px;

}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}
.form input{
    inline-size: 100%;
    border: 1px solid white;
    background: #251f24;
    box-sizing: border-box;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}
.form input[type="submit"] {
    background: #157EFB;
    border: none;
}

.form input::-webkit-input-placeholder{
    color: var(--white20);
}

@media screen and (min-width: 1366px){
    .hero{
        block-size: 350px;
    }
    .header{
        position: sticky;
        inset-block-start: 50px;
    }
    .header-content{
        position: relative;
        inset-block-start: 45px;
        padding-inline: 0;
    }
    header{

        position: absolute;
        inset-block-start: 0 ;
        inset-inline-start: -208px;
        inline-size: 188px;
    }
    h1{
        margin-block-start: 64px;
        font-size: 60px;
    }
}